<header>
  <h1>Anti-Socialite</h1>
  <div id="burger-container">
    <nav id="burger">
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <a href="/about">About Us</a>
      <a href="/">Home</a>
      <a href="/favorite">Favorites</a>
      <a href="/watchlist">Watchlist</a>
  </nav>
  <nav id="desktop-menu">
      <a class="menu" href="/about">About Us</a>
      <a class="menu" href="/">Home</a>
      <a class="menu" href="/favorite">Favorites</a>
      <a class="menu" href="/watchlist">Watchlist</a>
  </nav>
</div>
</header>
