<header>
  <h1>Anti-Socialite</h1>
  <h2>Your evening alone starts here</h2>
  <div id="burger-container">
    <nav id="burger">
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <a href="/">Home</a>
      <a href="/favorites">Favorites</a> 
      <a href="/watchlist">Watchlist</a>
      <a href="/about">About Us</a>
  </nav>
</div>
<div id="desktop-menu">
<nav>
  <a class="menu" href="/">Home</a>
  <a class="menu" href="/favorites">Favorites</a>
  <a class="menu" href="/watchlist">Watchlist</a>
  <a class="menu" href="/about">About Us</a>
</nav>
</div>
</header>
