<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('./partials/head.ejs') %>
    <title>About Us</title>

</head>
<body>
  <header>
    <%- include('./partials/header.ejs') %>
  </header>


<div id="clear"></div>
  
  <main> 
    <div class="space"></div>
    <section class="wrapper" id="creators">
      <section class="container" class="bio">
        <div class="profile">
          <h2>Marta Anthony</h2>
          <h5>Software Developer</h5>
          <img class="profiles" src="./images/marta.jpg" alt="marta" />
        </div>
       <div class="social">
          <a href="https://www.linkedin.com/in/martaanthony/" class="fab fa-linkedin-in" target="_blank"></a>
          <a href="https://github.com/MartaAnthony" class="fab fa-github" target="_blank"></a>
      </div>
       <p>I am a software developer based in Greater Seattle area. I have background in international program management,  linguistics, visual arts, and recruiting for a fintech company. Programming is an extension of my passion for learning human languages. I speak fluently Polish, English and French, and I know the basics of German, Italian and Spanish. In my free time I like to read, take photos, and camp with my family.</p>
      </section>
      <section class="container" class="bio">
        <div class="profile">
            <h2>Michael Refvem</h2>
            <h5>Software Developer</h5>
            <img class="profiles" src="./images/michael.jpg" alt="michael" />
        </div>
        <div class="social">
            <a href="https://www.linkedin.com/in/michaelrefvem" class="fab fa-linkedin-in" target="_blank"></a>
            <a href="https://github.com/MRefvem/" class="fab fa-github" target="_blank"></a>
     </div>
        <p>I am a Redmond, WA-based programmer with a background in Classical Piano. In my spare time, I enjoy hiking, gaming and fitness. Having a background as a pianist has given me a lot of experience working under high stress environments while delivering a professional result, and I think that directly applies to the world of software development as well. As a Web Developer I look forward to building beautiful websites that will lead us into the future.</p>
       </section>
       <section class="container" class="bio">

        <div class="profile">
            <h2>Leah<br>Russo</h2>
            <h5>Software Developer</h5>
            <img class="profiles" src="./images/leah.jpg" alt="leah" />
        </div>
        <div class="social">
          <a href="https://www.linkedin.com/in/leah-russo/" class="fab fa-linkedin-in" target="_blank"></a>
          <a href="https://github.com/leahgrace555" class="fab fa-github" target="_blank"></a>
        </div>
        <p>Leah Russo is a Rochester-based software developer with an interest in graphic design who loves to spend her free time crocheting. Leah recently adopted a pet rabbit that loves snacks and cuddles. After Code Fellows, Leah looks forward to starting a great career in tech!</p>
       </section>
       <section class="container" class="bio">
        <div class="profile">
            <h2>Peter Sankiewicz</h2>
            <h5>Software Developer</h5>
            <img class="profiles" src="./images/peter.jpg" alt="peter" />
        </div>
        <div class="social">
          <a href="https://www.linkedin.com/in/petsan/" class="fab fa-linkedin-in" target="_blank"></a>
          <a href="https://github.com/petsan" class="fab fa-github" target="_blank"></a>
        </div>
        <p>Peter is a full stack software engineer experienced in high volume data processing and the protection and conservation of species. Peter has 20+ years of industry experience focusing on software development, security, quality in the greater Seattle Area. Now at Code Fellows, Peter is furthering his software development journey by becoming an expert in Full-Stack web development with a specialization in C#. In his free time Peter likes to sail, bike and garden.
        </p>
       </section>
       <section class="container" class="bio">
        <div class="profile">
            <h2>Trevor Stubbs</h2>
            <h5>Software Developer</h5>
            <img class="profiles" src="./images/trevor.jpg" alt="trevor" />
        </div>
        <div class="social">
          <a href="https://www.linkedin.com/in/trevorstubbssea/" class="fab fa-linkedin-in" target="_blank"></a>
          <a href="https://github.com/TrevorStubbs" class="fab fa-github" target="_blank"></a>
        </div>
        <p>I am a software developer and an airline pilot with a passion for learning. If I haven't learned anything in a day I feel like the day has been a waste. My pastimes include building and painting miniatures for a ‘miniature wargame’, building and flying radio controlled airplanes and competitive sailboat racing. I am excited to be here in Code Fellows. I love how software engineering feeds directly into my desire to build and to learn.</p>
       </section>

    </section>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>
</html>
