main {
  background-color: #1C2541;


}

.container {
  border: 1px solid red;
  max-width: 80vw;
  margin: auto auto 20px auto;
  background-color: #0B132B;
  border-radius: 25px;
}

.movie {
  height: 300px;
  width: 200px;
  background-color: seashell;
  border: 2px solid black;
  border-radius: 25px;
}